# Make vim the default editor
export EDITOR="vim";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# don't put duplicate lines in the history.
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="l:la:ls:lsd:cd:cd ~-:..:pwd:fg:fc:jobs:exit:date:* --help:man *";

export HOMEBREW_CASK_OPTS="--appdir=/Applications"
export GROOVY_HOME=/usr/local/opt/groovy/libexec
export GOPATH=~/Development/go

# Add Heroku, Go, RVM, Postgres and small scripts to path
export PATH="/usr/local/bin:$PATH:/usr/local/heroku/bin:$GOPATH/bin:$HOME/.rvm/bin:/Applications/Postgres.app/Contents/Versions/9.4/bin:$HOME/bin"

# Needed for Rust
export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:/usr/local/Cellar/rust/lib
