# Mackup configuration https://github.com/lra/mackup
# a path without first / refers to folder in $HOME
[storage]
engine = file_system
path = .
directory = dotfiles

# Explicit list of apps to sync, default to all known (`mackup list`)
[applications_to_sync]

# List of applications you want to ignore
# One application name per line
# If an application is ignored, it will be ignored even if it's been explicitly
# allowed in the [Allowed Applications].
[applications_to_ignore]
netrc
vim
git
ruby
bash
xcode
chef
subversion
curl
messages
